{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/vacations/vacation-detail.css' %}" />
{% endblock %} 
{% block content %}
<section class='details'>
  <section class='details-container'>
    <div class='details-description'>
      <h1 class='header'>{{ vacation.name }}</h1>
        <h2>{{ vacation.location }}</h2>
      <p>{{ vacation.description }}</p>

      <div class="vacation-actions">
        <a href="{% url 'vacation-update' vacation.id %}">Edit</a>
        <a href="{% url 'vacation-delete' vacation.id %}">Delete</a>
      </div>
    </div>
    <h3>Add a Rating</h3>
    <form action="{% url 'add-stars' vacation.id %}" method="post" autocomplete="off">
      {% csrf_token %} 
      {{ star_form.as_p }}
      <button type="submit">Add Rating</button>
    </form>
  </section>

  <section class='ratings'>
    <h2>Reviews</h2>
    {% if vacation.star_set.all.count %}
    <table class="reviews">
      <tbody>
        {% for star in vacation.star_set.all %}
        <tr>
          <td class="comments">{{star.star}} stars - <br> {{star.rating}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div>
      <p>⚠️ No ratings for {{vacation.name}}!</p>
    </div>
    {% endif %}
    </tbody>
  </section>
</section>
{% endblock %}
