{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/restaurants/restaurant-detail.css' %}" />
{% endblock %} 
{% block content %}
<section>
  <div>
    <h1>{{ restaurant.name }}</h1>
      <h2>{{ restaurant.location }}</h2>
    <p>{{ restaurant.description }}</p>

    <div class="restaurant-actions">
      <a href="{% url 'restaurant-update' restaurant.id %}">Edit</a>
      <a href="{% url 'restaurant-delete' restaurant.id %}">Delete</a>
    </div>
  </div>

  <h3>Add a Rating</h3>
  <form action="{% url 'add-stars' restaurant.id %}" method="post" autocomplete="off">
    {% csrf_token %} 
    {{ star_form.as_p }}
    <button type="submit">Add Rating</button>
  </form>

  <h2>Stars</h2>
  {% if restaurant.star_set.all.count %}
  <table>
    <tbody>
      {% for star in restaurant.star_set.all %}
      <tr>
        <td>{{star.star}} stars - {{star.rating}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <div>
    <p>⚠️ No ratings for {{restaurant.name}}!</p>
  </div>
{% endif %}
  </tbody>
</section>
{% endblock %}
